export(rebuildMatrix)
export(computeSignaling)
export(getGeneRate)
export(computeResponse)
export(computeCorrelation)
export(doInteraction)
export(getTresSignature)

import(Seurat)
import(CelliD)
import(Matrix)
