export(computeCorrelation)
export(computeResponse)
export(computeSignaling)
export(doInteraction)
export(getGeneRate)
export(getRebuildMatrix)
export(getTresSignature)
export(rebuildMatrix)

import(Seurat)
import(CelliD)
import(Matrix)
import(RcppML)
